body {
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: url("../assets/bg5.webp") no-repeat center center;
  background-size: cover;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
  padding: 1.5rem;
  background-color: #050F54;
  border: 2px solid #B155DC;
  border-radius: 0.5rem;
  font-family: sans-serif;
}

.player {
  color: #fff;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

.moves, .moves-display {
  color: #fff;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

.timer, .timer-display {
  color: #fff;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  width: 100%;
  max-width: 800px;
  margin: 2rem 0 0;
}

.card {
  aspect-ratio: 1/1;
  width: 100%;
  position: relative;
  transition: all 400ms ease;
  transform-style: preserve-3d;
}

.face {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 0.5rem;
  border: 2px solid #B155DC;
  background-size: 100% 100%;
  background-position: center;
}

.front {
  background-color: #050F54;
  transform: rotateY(180deg);
}

.back {
  background-image: url("../assets/backcard.webp");
  background-size: cover;
  backface-visibility: hidden;
}

.reveal-card {
  transform: rotateY(180deg);
}

.disabled-card {
  filter: saturate(0);
  opacity: 0.8;
}

.restart-button {
  background-color: #050F54;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bolder;
  margin: 1.5rem;
  padding: 0.5rem;
  width: 10%;
  min-width: fit-content;
  max-width: 25%;
  border: 2px solid #B155DC;
  border-radius: 0.5rem;
  outline: none;
  text-align: center;
  cursor: pointer;
}

.restart-button:hover {
  background-color: #B155DC;
  transition: all 400ms ease;
} 