main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
  min-height: 100vh;
  background: url("../assets/bg5.webp") no-repeat center center;
  background-size: cover;
  padding: 1.25rem 1.25rem 3rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
  padding: 1.5rem;
  margin: 0 0 1rem;
  background-color: #fff;
  border-radius: 0.5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.card {
  aspect-ratio: 3/4;
  width: 100%;
  position: relative;
  transition: all 400ms ease;
  transform-style: preserve-3d;
}

.face {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 0.5rem;
  border: 2px solid black;
  background-size: 100% 100%;
  background-position: center;
}

.front {
  background-color: #050F54;
  transform: rotateY(180deg);
}

.back {
  background-image: url("../assets/backcard.webp");
  backface-visibility: hidden;
}

.reveal-card {
  transform: rotateY(180deg);
}

.disabled-card {
  filter: saturate(0);
  opacity: 0.5;
}